@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&family=Lobster&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #e7fafe;
    --black: #000;
    --white: #fff;
    --main-gradient: linear-gradient(0deg, #e7fafe 0%, #ffffff 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    margin: auto;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    width: 100%;
    margin: auto;
    padding: 2rem 4rem;
}

.logo h3 {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.menu-bar {
    display: none;
}

.modal-menu {
    width: 100%;
    position: relative;
    background: var(--white);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}
.modal-menu ul {
    list-style: none;
}
.modal-menu ul a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
}
.modal-menu ul a li {
    /* margin: 1rem 0; */
    width: 100%;
    padding: 1rem;
}
.modal-menu ul a li:hover {
    background: rgb(229, 229, 229);
}
.modal-social-icon {
    margin: 1rem 0;
    padding: 0 1rem;
}
.modal-social-icon i {
    margin-right: 2rem;
    font-size: 25px;
}
.hide-menu-modal {
    display: none;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu ul a {
    text-decoration: none;
    margin-right: 3.6rem;
    color: #000;
    font-weight: 500;
}

.menu ul a:hover {
    color: #e7fafe;
}

.social-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-icon i {
    margin-right: 2rem;
    font-size: 20px;
}

.social-icon i:last-child {
    margin-right: 0;
}

/* HERO */
.hero {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero-section {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    border-radius: 30px;
    /* display: flex;
    justify-content: flex-start;
    align-self: center;
    border-radius: 30px; */
}

.empty-curve-left {
    background: #e7fafe;
    width: 100px;
    height: 510px;
    border-radius: 0 30px 30px 0;
}

.empty-curve-right {
    background: #e7fafe;
    width: 100px;
    height: 510px;
    border-radius: 30px 0 0 30px;
}

.hero-left {
    background: #e7fafe;
    padding: 2rem 2.5rem;
    border-radius: 30px 0 0 30px;
}

.hot-recipes {
    display: flex;
    background: #fff;
    padding: .8rem 2rem;
    border-radius: 30px;
    width: 190px;
    align-items: center;
    box-shadow: 17px 9px 35px 3px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 17px 9px 35px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 17px 9px 35px 3px rgba(0, 0, 0, 0.08);
}

.hot-recipes i {
    margin-right: .9rem;
    color: #b3906b;
}

.hot-recipes p {
    font-weight: 500;
    font-size: 15px;
}

.hero-text {
    margin-top: 2rem;
}

.hero-text h2 {
    font-size: 60px;
    font-weight: 500;
}

.hero-text-desc {
    margin-top: 1.5rem;
    font-size: 14px;
    word-spacing: .1rem;
    line-height: 1.2rem;
    color: #959fa2;
}

.time-prod {
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.smh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dbedf1;
    padding: .8rem 1.5rem;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
}

.smh i {
    margin-right: .7rem;
}

.hero-right {
    width: 100%;
    border-radius: 0 30px 30px 0;
}

.hero-right img {
    /* object-fit: cover; */
    width: 100%;
    /* max-height: 100%; */
    border-radius: 0 30px 30px 0;
    /* position: relative; */
}

.hero-base {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chef {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.chef img {
    width: 50px;
    border-radius: 50%;
}

.name-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.name-date .name {
    font-weight: 600;
}

.name-date .date {
    font-size: 13px;
    color: #5c5c5c;
    font-weight: 500;
}

.view-more-btn button {
    background: #000;
    border: none;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 15px;
}

.view-more-btn button i {
    margin-left: .6rem;
}

/* CATEGORIES */
.categories {
    margin: 11rem 0 8rem 0;
}

.categories-header {
    margin: 3rem 5rem 6rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-header h2 {
    font-size: 40px;
}

.categories-header button {
    background: #e7fafe;
    border: none;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-weight: 600;
}

.category-card {
    margin: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.category {
    width: 170px;
    background: #faebea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.breakfast {
    position: relative;
    background: linear-gradient(180deg, #70824600 0%, #7082461a 100%);
    z-index: 1000;
}

.breakfast .breakfast-blur {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60px;
    top: 25px;
    filter: blur(20px);
}

.vegan {
    position: relative;
    background: linear-gradient(180deg, #6cc63f00 0%, #6cc63f1a 100%);
    z-index: 1000;
}

.vegan .vegan-blur {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60px;
    top: 25px;
    filter: blur(20px);
}

.meat {
    position: relative;
    background: linear-gradient(180deg, #cc261b00 0%, #cc261b1a 100%);
    z-index: 1000;
}

.meat .meat-blur {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60px;
    top: 25px;
    filter: blur(20px);
}

.dessert {
    position: relative;
    background: linear-gradient(180deg, #f09e0000 0%, #f09e001a 100%);
    z-index: 1000;
}

.dessert .dessert-blur {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60px;
    top: 25px;
    filter: blur(20px);
}

.lunch {
    position: relative;
    background: linear-gradient(180deg, #00000000 0%, #0000000d 100%);
    z-index: 1000;
}

.lunch .lunch-blur {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60px;
    top: 25px;
    filter: blur(20px);
}

.chocolate {
    position: relative;
    background: linear-gradient(180deg, #00000000 0%, #0000000d 100%);
    z-index: 1000;
}

.chocolate .chocolate-blur {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 60px;
    top: 25px;
    filter: blur(20px);
}

.category p {
    font-weight: 600;
    margin: 2.7rem 0 2rem 0;
    font-size: 16px;
}

/* RECIPES */
.recipes {
    width: 90%;
    margin: auto;
}
.recipes-header {
    text-align: center;
    /* width: 600px; */
    margin: auto;
}

.recipes-header h2 {
    font-size: 40px;
}

.recipes-header p {
    margin: 1.5rem 0;
    line-height: 1.5rem;
    color: #959fa2;
    font-size: 14px;
}

.recipes-card {
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    width: 90%;
    margin: auto;
    padding: 3rem 0;
}

.recipe {
    width: 320px;
    padding: 0 1rem 2rem 1rem;
    background: #e7fafe;
    background: linear-gradient(0deg, #e7fafe 0%, #ffffff 100%);
    margin: 1rem 1rem;
    border-radius: 30px;
    position: relative;
}

.recipe img {
    width: 100%;
    border-radius: 15px;
}

.recipe .like {
    background: #fffefe;
    padding: .8rem;
    border-radius: 50%;
    color: #dbe2e5;
    position: absolute;
    top: .7rem;
    right: 1.5rem;
}

.recipe .recipe-desc {
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 0;
}

.recipe-time-prod {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.6rem 0 0 0;
    gap: 1rem;
}

.recipe-time {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
    margin-right: .6rem;
}

.recipe-time p {
    font-size: 12px;
}

.recipe-prod {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
}

.recipe-prod p {
    font-size: 12px;
}

/* BECOME A CHEF */
.become-a-chef {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bac-right {
    padding: 0 3rem 0 5rem;
    position: relative;
    top: 30%;
}

.bac-right h2 {
    font-size: 40px;
}

.bac-right p {
    margin-top: 1.5rem auto;
    color: #00000099;
    font-size: 16px;
    line-height: 28px;
    width: 508px;
    font-weight: 400;
}
.bac-right button {
    margin-top: 3rem;
    background: var(--black);
    border-radius: 16px;
    padding: 1rem 2rem;
    color: var(--white);
    font-size: 10px;
}
.bac-left {
    position: relative;
}
.bac-left-img {
    background: var(--main-gradient);
    border-radius: 30px;
    position: relative;
    left: 20px;
}
.bac-left-img .male-img {
    width: 100%;
    position: relative;
    right: 70px;
    bottom: 0;
    top: 4px;
}
.bac-left-img .bac-vegan {
    position: relative;
    top: 270px;
    left: 530px;
    width: 70px;
}
.bac-left-img .bac-onion {
    position: relative;
    top: 160px;
    left: 270px;
    width: 50px;
}
.bac-left-img .bac-meat {
    position: relative;
    top: 160px;
    left: 10px;
    width: 60px;
}
.bac-left-img .bac-tomatoe {
    position: relative;
    top: 500px;
    right: 210px;
    width: 40px;
}


/* INSTAGRAM */
.instagram-section {
    background: var(--main-gradient);
    margin: 10rem 0;
    padding: 3rem 2rem;
    overflow: hidden;
}
.instagram-header {
    width: 100%;
    margin: auto;
    text-align: center;
}
.instagram-header h2 {
    font-size: 40px;
}
.instagram-header p {
    color: #00000099;
    margin: 1rem auto;
    width: 840px;
}
.instagram-screenshots {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4rem;
}
.instagram-screenshots img {
    width: 250px;
}
.insta-view-more-btn {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.insta-view-more-btn button {
    padding: 1rem 2rem;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
    font-size: 12px;
}
.insta-view-more-btn button i {
    font-size: 18px;
}

/* TRY NEW RECIPE */

.try-new {
    margin: 9rem 0;
}
.try-new-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.try-new-header h2 {
    width: 507px;
    font-size: 35px;
}
.try-new-header p {
    width: 620px;
    font-size: 16px;
    color: #00000099;
    line-height: 28px;
}
.try-new-recipes-card {
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 90%;
    margin: auto;
    width: 90%;
    margin: auto;
    padding: 3rem 0;
}

.new-recipes {
    width: 280px;
    padding: 0 1rem 2rem 1rem;
    margin: 1rem auto;
    border-radius: 30px;
    position: relative;
}

.new-recipes img {
    width: 100%;
    border-radius: 15px;
}

.new-recipes .like {
    background: #fffefe;
    padding: .8rem;
    border-radius: 50%;
    color: #dbe2e5;
    position: absolute;
    top: .7rem;
    right: 1.5rem;
}

.new-recipes .recipe-desc {
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 0;
}

.new-recipes-time-prod {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.6rem 0 0 0;
    gap: 1rem;
}

.new-recipes-time {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
    margin-right: .6rem;
}

.new-recipes-time p {
    font-size: 12px;
}

/* NEWSLETTER */

.newsletter {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 30px;
    padding: 7rem 0;
    position: relative;
    overflow: hidden;
}
.newsletter-header {
    text-align: center;
    width: 620px;
    margin: auto;
}
.newsletter-header h2 {
    font-size: 42px;
}
.newsletter-header p {
    color: #00000099;
    margin: 1rem 0 3rem 0;
    font-size: 14px;
    line-height: 28px;
}
.newsletter-btn {
    width: 400px;
    margin: auto;
    background: var(--white);
    height: 55px;
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
}
.newsletter-btn input {
    position: relative;
    height: 55px;
    width: 250px;
    border: none;
    padding: 1rem;
    border-radius: 24px;
    outline: none;
}
.newsletter-btn button {
    padding: 0 2rem;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 16px;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.newsletter-left-img {
    position: absolute;
    /* width: 319px; */
    /* transform: rotate(-20deg); */
    bottom: 0;
    left: -39px;
    overflow: hidden;
}
.newsletter-right-img {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.newsletter-right-small-img {
    position: absolute;
    bottom: 100px;
    right: 230px;
    overflow: hidden;
}

/* FOOTER */

footer {
    margin-top: 6rem;
}
.footer-logo-menu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo h3 {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.footer-logo p {
    color: #00000099;
    margin: 1rem 0 0 0;
    font-size: 14px;
}
.footer-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer-menu ul a {
    text-decoration: none;
    margin-left: 3.6rem;
    color: #000;
    font-weight: 500;
}

.footer-menu ul a:hover {
    color: #e7fafe;
}
.footer-copyright-socials {
    width: 90%;
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
    border-top: 1px solid #0000001a;
}
.footer-copyright {
    color: #00000099;
    margin-right: 23rem;
}


/* =================== BLOG PAGE ================= */
.blog {
    width: 100%;
    margin: 4rem auto;
}
.blog-header {
    width: 90%;
    margin: auto;
    text-align: center;
}
.blog-header h2 {
    font-size: 45px;
}
.blog-header p {
    font-size: 15px;
    margin: 1rem 0;
    color: #00000099;
}
.search-btn {
    width: 400px;
    margin: 5rem auto;
    background: var(--white);
    height: 55px;
    border: 1px solid #0000001A;
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
}
.search-btn input {
    position: relative;
    height: 100%;
    width: 250px;
    border: none;
    padding: 1rem;
    border-radius: 24px;
    outline: none;
}
.search-btn button {
    padding: 0 2rem;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 16px;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.main-blog {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.post:last-child {
    margin-bottom: 0;
}
.post img {
    border-radius: 30px;
}
.post-title {
    font-size: 23px;
    /* margin-bottom: 3rem; */
}
.post-desc {
    font-size: 15px;
    margin: 1.8rem 0;
    line-height: 23px;
    color: #00000099;
}
.post-chef-date {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.post-chef {
    display: flex;
    align-items: center;
    gap: .7rem;
}
.post-chef img {
    width: 40px;
    border-radius: 50%;
}
.post-chef p {
    font-weight: 600;
}
.post-date {
    font-size: 12px;
    color: #00000099;
    font-weight: 500;
}
.sidebar-posts {
    width: 100%;
    margin: 2rem auto;
}
.sidebar-post {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.sidebar-post img {
    width: 150px;
    border-radius: 20px;
}
.sidebar-post-chef {
    margin: 1rem 0;
    color: #00000099;
    font-size: 13px;
}













/* ======================================== MEDIA QUARIES ================================== */

@media only screen and (max-width: 600px) {
    /* NAV */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
    }
    .menu-bar {
        display: block;
        font-size: 20px;
    }
    .menu {
        display: none;
    }
    .social-icon {
        display: none;
    }
    /* HERO */
    .hero {
        display: block;
        width: 90%;
    }
    .empty-curve-left {
        display: none;
    }
    .empty-curve-right {
        display: none;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 100%;
    }
    .baked-chicken {
        display: none;
    }
    .view-more-btn button {
        width: 100%;
    }
    .hero-base {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }
    /* CATEGORY */
    .categories {
        width: 100%;
        margin: 8rem auto;
    }
    .categories-header {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }
    .categories-header h2 {
        font-size: 25px;
    }
    .categories-header button {
        padding: 1rem 1rem;
    }
    .category-card {
        justify-content: center;

    }
    .recipes {
        width: 95%;
        margin: auto;
    }
    .recipes-card {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .become-a-chef {
        width: 100%;
        display: flex;
        flex-direction: column;

        gap: 0;
    }
    .bac-right {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .bac-right p {
        width: 100%;
        margin: 2;
    }
    .bac-left {
        width: 100%;
        position: relative;
        background: var(--main-gradient);
    }
    .bac-left-img {
        left: 0;
    }
    .bac-left-img .male-img {
        background: none;
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0;
        top: 5px;
    }
    .bac-left-img .bac-vegan {
        display: none;
    }
    .bac-left-img .bac-onion {
        display: none;
    }
    .bac-left-img .bac-meat {
        display: none;
    }
    .bac-left-img .bac-tomatoe {
        display: none;
    }
    .instagram-section {
        width: 100%;
        margin: auto;
    }
    .instagram-header {
        width: 100%;
        margin: auto;
    }
    .instagram-header p {
        width: 100%;
        margin: 1rem auto;
    }
    .instagram-screenshots {
        flex-direction: column;
        gap: 1rem;
    }
    .try-new {
        width: 100%;
    }
    .try-new-header {
        width: 90%;
        margin: auto;
        flex-direction: column;
        text-align: center;
    }
    .try-new-header h2 {
        width: 100%;
        margin: auto;
    }
    .try-new-header p {
        width: 100%;
        margin: 2rem 0;
    }
    .newsletter-header {
        width: 90%;
        margin: 0;
    }
    .newsletter img {
        display: none;
    }
    .newsletter-btn {
        width: 90%;
    }
    .footer-logo-menu {
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .footer-menu ul {
        gap: 1.4rem;
    }
    .footer-menu ul a {
        margin: 0;
    }
    .footer-copyright-socials {
        width: 95%;
        flex-direction: column;
    }
    .footer-copyright {
        margin: 0;
    }



    /* =============== BLOG ================ */
    .search-btn {
        width: 100%;
        position: relative;
    }
    .main-blog {
        grid-template-columns: 100%;
    }
    .post {
        flex-direction: column;
        align-items: flex-start;
        background: var(--main-gradient);
        padding: 1rem;
        border-radius: 30px;
    }
    .post-img {
        width: 100%;
    }
    .sidebar {
        margin: 5rem 0;
    }
}

@media only screen and (min-width: 600px) {
      /* NAV */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
    }
    .menu-bar {
        display: block;
        font-size: 20px;
    }
    .menu {
        display: none;
    }
    .social-icon {
        display: none;
    }
    /* HERO */
    .hero {
        display: block;
        width: 90%;
    }
    .empty-curve-left {
        display: none;
    }
    .empty-curve-right {
        display: none;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 100%;
    }
    .baked-chicken {
        display: none;
    }
    .view-more-btn button {
        width: 100%;
    }
    /* .hero-base {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    } */
    /* CATEGORY */
    .categories {
        width: 100%;
        margin: 8rem auto;
    }
    .categories-header {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }
    .category-card {
        width: 90%;
        justify-content: space-between;
        margin: 3rem auto;
    }
    .category {
        margin: 2rem 0;
    }
    /* RECIPES */
    .recipes {
        width: 100%;
        margin: 17rem auto 0 auto;
    }
    .recipes-header {
        width: 90%;
        margin: auto;
    }
    .recipes-card {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    /* BECOME A CHEF */
    .become-a-chef {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bac-right {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .bac-right p {
        width: 100%;
        margin: 2rem 0;
    }
    .bac-right button {
        margin-top: -1rem;
        border: none;
        padding: 1rem 3rem;
    }
    .bac-left {
        width: 100%;
        position: relative;
        background: var(--main-gradient);
    }
    .bac-left-img {
        left: 0;
    }
    .bac-left-img .male-img {
        background: none;
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0;
        top: 5px;
    }
    .bac-left-img .bac-vegan {
        display: none;
    }
    .bac-left-img .bac-onion {
        display: none;
    }
    .bac-left-img .bac-meat {
        display: none;
    }
    .bac-left-img .bac-tomatoe {
        display: none;
    }
    /* INSTAGRAM */
    .instagram-section {
        width: 100%;
        margin: auto;
    }
    .instagram-header {
        width: 100%;
        margin: auto;
    }
    .instagram-header p {
        width: 100%;
        margin: 1rem auto;
    }
    .instagram-screenshots {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    /* TRY NEW */
    .try-new {
        width: 100%;
    }
    .try-new-header {
        width: 90%;
        margin: auto;
        flex-direction: column;
        text-align: center;
    }
    .try-new-header h2 {
        width: 100%;
        margin: auto;
    }
    .try-new-header p {
        width: 100%;
        margin: 2rem 0;
    }
    .newsletter-header {
        width: 90%;
        margin: 0;
    }
    .newsletter img {
        display: block;
        width: 223px;
    }
    .newsletter-right-img {
        position: absolute;
        bottom: -70px;
        right: -30px;
        overflow: hidden;
    }
    .newsletter .newsletter-right-small-img {
        display: none;
    }
    .newsletter-btn {
        width: 70%;
    }
    footer {
        width: 100%;
    }
    .footer-logo-menu {
        width: 90%;
        justify-content: space-between;
        /* flex-direction: column; */
        /* text-align: center; */
        /* gap: 2rem; */
    }
    .footer-logo p {
        font-size: 12px;
    }
    .footer-menu ul {
        gap: 1.4rem;
    }
    .footer-menu ul a {
        margin: 0;
    }
    .footer-copyright-socials {
        width: 95%;
        justify-content: space-between;
    }
    .footer-copyright {
        margin: 0;
    }
    .footer-socials {
        display: block;
    }




     /* =============== BLOG ================ */
    .search-btn {
        width: 60%;
        position: relative;
    }
    .main-blog {
        grid-template-columns: 100%;
    }
    /* .post {
        flex-direction: column;
        align-items: flex-start;
        background: var(--main-gradient);
        padding: 1rem;
        border-radius: 30px;
    } */
    .post-img {
        width: 100%;
    }
    .sidebar {
        margin: 5rem 0;
    }
}


@media only screen and (min-width: 768px) {
      /* NAV */
      .menu-bar {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu ul a {
        margin-right: 2rem;
    }
    .social-icon {
        display: none;
    }
    /* HERO */
    .hero {
        display: block;
        width: 95%;
    }
    .empty-curve-left {
        display: none;
    }
    .empty-curve-right {
        display: none;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 60% 40%
    }
    .hero-text {
        margin-top: 4rem;
    }
    .hero-text h2 {
        font-size: 50px;
    }
    .recipe-time-prod {
        margin-top: 4rem;
    }
    .baked-chicken {
        display: block;
    }
    .hero-base {
        position: relative;
        top: 3rem;
    }
    .view-more-btn button {
        width: 100%;
    }
    /* BECOME A CHEF */
    .become-a-chef {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .bac-right {
        width: 100%;
        margin: auto;
        padding: 0 1rem;
        text-align: left;
        position: relative;
        top: 10%;
    }
    .bac-right h2 {
        font-size: 25px;
    }
    .bac-right p {
        width: 100%;
        margin: 2rem 0;
    }
    .bac-right button {
        margin-top: -1rem;
        border: none;
        padding: 1rem 3rem;
    }
    .bac-left {
        width: 100%;
        position: relative;
        background: var(--main-gradient);
    }
    /* .bac-left-img {
        left: 0;
    } */
    .bac-left-img .male-img {
        background: none;
        width: 100%;
        position: relative;
        right: 25px;
        bottom: 0;
        top: 5px;
    }
    .bac-left-img .bac-vegan {
        display: block;
        position: absolute;
        top: 160px;
        left: 340px;
        width: 50px;
    }
    .bac-left-img .bac-onion {
        display: block;
        width: 40px;
        position: absolute;
        top: 60px;
        left: 270px;
    }
    .bac-left-img .bac-meat {
        display: block;
        width: 50px;
        position: absolute;
        top: 60px;
        left: 40px;
    }
    .bac-left-img .bac-tomatoe {
        display: block;
        position: absolute;
        top: 300px;
        left: -15px;
        width: 40px;
    }
    .footer-socials {
        display: block;
    }


       /* =============== BLOG ================ */
    .search-btn {
        width: 60%;
        position: relative;
    }
    .main-blog {
        grid-template-columns: 100%;
    }
    /* .post {
        flex-direction: column;
        align-items: flex-start;
        background: var(--main-gradient);
        padding: 1rem;
        border-radius: 30px;
    } */
    .post-img {
        width: 100%;
    }
    .sidebar {
        margin: 5rem 0;
    }
}


@media only screen and (min-width: 992px) {
    /* NAV */
    .menu ul a {
        margin-right: 2rem;
    }
    .social-icon {
        display: block;
    }
     /* HERO */
    .hero {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    .empty-curve-left {
        display: block;
    }
    .empty-curve-right {
        display: block;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 50% 50%
    }
    .hero-text {
        margin-top: 2rem;
    }
    .recipe-time-prod {
        margin-top: 3rem;
    }
    .hero-base {
        position: relative;
        top: 1rem;
    }
    .view-more-btn button {
        padding: 1rem 1rem;
    }
    .recipes-card {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .bac-right {
        width: 100%;
        margin: auto;
        padding: 0 2rem;
        text-align: left;
        position: relative;
        top: 8%;
    }
    .bac-right h2 {
        font-size: 38px;
    }
    .bac-right p {
        width: 100%;
        margin: 2rem 0;
    }
    .bac-left-img .male-img {
        background: none;
        width: 100%;
        position: relative;
        right: 37px;
        bottom: 0;
        top: 5px;
    }
    .bac-left-img .bac-vegan {
        display: block;
        position: absolute;
        top: 230px;
        left: 440px;
        width: 50px;
    }
    .bac-left-img .bac-onion {
        display: block;
        width: 40px;
        position: absolute;
        top: 60px;
        left: 340px;
    }
    .bac-left-img .bac-meat {
        display: block;
        width: 50px;
        position: absolute;
        top: 60px;
        left: 40px;
    }
    .bac-left-img .bac-tomatoe {
        display: block;
        position: absolute;
        top: 390px;
        left: -15px;
        width: 40px;
    }
    .newsletter-header {
        width: 60%;
        margin: 0;
    }
    .newsletter img {
        display: block;
        width: 223px;
    }
    .newsletter-right-img {
        position: absolute;
        bottom: -70px;
        right: -30px;
        overflow: hidden;
    }
    .newsletter .newsletter-right-small-img {
        display: block;
        width: 90px;
        right: 160px;
    }
    .newsletter-btn {
        width: 45%;
    }
    .footer-socials {
        display: block;
    }

       /* =============== BLOG ================ */
    .search-btn {
        width: 60%;
        position: relative;
    }
    .main-blog {
        grid-template-columns: 65% 35%;
    }
    .post {
        margin-bottom: 4rem;
    }
    .post-img {
        width: 100%;
    }
    .sidebar {
        margin: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .recipes {
        width: 100%;
        margin: 7rem auto 0 auto;
    }
    .bac-left-img .bac-vegan {
        display: block;
        position: absolute;
        top: 260px;
        left: 530px;
        width: 60px;
    }
    .bac-left-img .bac-onion {
        display: block;
        width: 50px;
        position: absolute;
        top: 80px;
        left: 400px;
    }
    .bac-left-img .bac-meat {
        display: block;
        width: 60px;
        position: absolute;
        top: 80px;
        left: 80px;
    }
    .bac-left-img .bac-tomatoe {
        display: block;
        position: absolute;
        top: 430px;
        left: -15px;
        width: 50px;
    }
    .footer-logo p {
        font-size: 15px;
    }
    .footer-socials {
        display: block;
    }


    /* =============== BLOG ================ */
    .search-btn {
        width: 40%;
        position: relative;
    }
    .main-blog {
        grid-template-columns: 65% 35%;
    }
    .post {
        margin-bottom: 4rem;
    }
    .sidebar {
        margin: 0;
    }
}